@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --primary: #0055b9;
  --secondary: #0a1b39;
  --bg: #1d1d1d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  line-height: 1.6;
  color: white;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: 80px auto;
  padding: 0 20px;
}

@media only screen and (max-width: 500px) {
	.container {
		margin: 30px auto;
		padding: 0 15px;
	}
}
